.menu-cover
		.link_burger 
			p.menu-sign &#9776
			p.menu-letters меню
.menu-links
		ul.ul
			li.limenu: a(href="#") Grammar Rules
			li.limenu: a(href="#") Grammar Exercises
			li.limenu: a(href="#") Grammar Terms
			li.limenu: a(href="#") Vocabulary
			li.limenu: a(href="#") Prepositions
		//- .buttons
		//- 	button Play	
		//- 	button Play	
		//- 	button Play	
		//- 	button Play	
		//- 	button Play	
		//- 	button Play	
